@charset "UTF-8";
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Barra de navegación */
.navbar-brand {
  height: 100%;
  align-content: center;
  width: 100px;
}

.navbar-brand img {
  height: 90px;
}

.container-fluid {
  background-color: #d1c480;
  height: 100%;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  position: relative;
}

.divisor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #d1c480;
}

footer figure {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

footer figure i {
  font-size: 30px;
  margin-top: 15px;
  color: black;
}

footer h6 {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

/* Página de inicio */
body {
  overflow-x: hidden;
}

header {
  background-color: #d1c480;
  height: 100%;
  align-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-image {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.hero-content {
  margin-top: 200px;
  padding: 50px;
  align-content: center;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .hero-content {
    max-width: 50%;
  }
}
.icono-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: 5seg;
  overflow-x: hidden;
}

.icono-card:hover {
  background-color: rgb(248, 247, 241);
}

.icono-card:hover img {
  width: 120px;
}

.icono-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: 5seg;
}

.nuestrosPerros h1 {
  text-align: center;
  background-color: #d1c480;
  height: 70px;
  align-content: center;
}

.foto-card img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid black;
  transition: 0.5s;
  overflow-x: hidden;
}

/* Media queries*/
@media (max-width: 768px) {
  .hero-content {
    margin-top: 100px;
    padding: 20px;
  }
  .foto-card img {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .navbar-brand img {
    height: 70px;
  }
  .container-fluid {
    height: auto;
  }
}
@media (max-width: 768px) {
  .hero-content {
    margin-top: 100px;
    padding: 20px;
  }
  .foto-card img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .navbar-brand img {
    height: 70px;
  }
  .container-fluid {
    height: auto;
  }
}
/*quienes somos*/
body {
  overflow-x: hidden;
}

header {
  background-color: #d1c480;
  height: 100%;
  align-content: center;
}

.quienesSomosPrincipal {
  padding: 20px;
}

.quienesSomos {
  width: 100%;
  display: flex;
}

.card-quienesSomos {
  background-color: #d1c480;
  padding: 10px;
}

.card-quienesSomos img {
  height: 300px;
  object-fit: cover;
  margin-top: 40px;
}

.paginaQuienesSomos article {
  width: 40%;
}

/*La Raza*/
body {
  overflow-x: hidden;
}

header {
  background-color: #d1c480;
  height: 100%;
  align-content: center;
}

.laRazaInfo {
  padding: 20px;
}

.laRaza img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid black;
}

.laRaza {
  width: 100%;
  display: flex;
}

.laRaza-body {
  padding: 10px;
}

.caracteristicasRazaInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 20px;
  background-color: #d1c480;
}

.caracreristicasRaza {
  width: 100%;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.boton:hover {
  background-color: #f9f9fa;
}

/*Cachorros*/
body {
  overflow-x: hidden;
}

header {
  background-color: #d1c480;
  height: 100%;
  align-content: center;
}

.cachorros {
  padding: 20px;
}

.carousel-inner img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/*Contacto*/
body {
  overflow-x: hidden;
}

header {
  background-color: #d1c480;
  height: 100%;
  align-content: center;
}

.contacto {
  padding: 20px;
}

.formulario {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.boton {
  width: 100%;
  padding: 10px;
  background-color: #d1c480;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .campo {
    margin-bottom: 10px;
  }
}
.mapa {
  position: relative;
  width: 100%;
  padding-bottom: 25%;
  overflow: hidden;
}

.mapa iframe {
  position: absolute;
  width: 100%;
  height: 100;
}

/*# sourceMappingURL=style.css.map */
