/* Footer */
footer {
padding: 20px;
text-align: center;
position: relative;
}

.divisor {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 5px;
background-color: #d1c480;
}

footer figure {
display: inline-block;
vertical-align: middle;
margin-right: 20px;
}

footer figure i {
font-size: 30px;
margin-top: 15px;
color: black;
}

footer h6 {
display: inline-block;
vertical-align: middle;
margin: 10px;
}
