.header {
    @include header;
}

.body{
    @include body;
}

.cachorros{
    padding: 20px;
    h1{
        @include estilo-h1;
    }
}

.carousel-inner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black
    }