.cachorros{
    padding: 20px;
    h1{
        text-align: start;
        color: black;
        height: 70px;
        align-content: center;
        font-size: 3rem;
    }
}

.carousel-inner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid black
    }