.header {
    @include header;
}

.body{
    @include body;
}

.contacto{
    padding: 20px;
    h1{
        @include estilo-h1;
    }
        
}

.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
    label {
        display: block;
        margin-bottom: 5px;
    }
    input,textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
}

.boton-contacto {
    input[type="button"] {
        background-color: $w-primary-color;
        color: rgb(0, 0, 0);
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 

        &:hover {
            background-color: $w-primary-color; 
        }

        &:active {
            background-color: $w-primary-color; 
        }
    }
}

    @media (max-width: 1000px) {
        .campo {
            margin-bottom: 10px;
        }
    }