.header {
    @include header;
}

.body{
    @include body;
}

.quienesSomosPrincipal{
    padding: 20px;
    h1{
        @include estilo-h1;
    }
}

.quienesSomos{
    width: 100%;
    display: flex;
}

.card-quienesSomos{
    background-color: $w-primary-color;
    padding: 10px;
}

.card-quienesSomos img{
    height: 100%;
    object-fit: cover;
    margin-top: 40px;
    width: 100%;
}

.card-quienes {
    width: 50%;
    height: 500px;
}
.quienes-somos {
    justify-content:space-between;
} 

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.paginaQuienesSomos article {
    width: 50%;
}

@media (max-width: 768px) {
    .card {
    margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .offcanvas-header h5 {
    font-size: 1.5rem; 
    }
}